<!DOCTYPE html>
<html lang="en">
    <head>
        <title>recycleCRM</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="author" content="Matt Connolly">
        <meta name="description" content="Brief description">

        <!-- css -->
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/bulma/bulma.min.css">
        <!-- font awesome -->
		<script src="https://kit.fontawesome.com/6394bc1834.js" crossorigin="anonymous"></script>
		<!-- google fonts -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap">
    </head>

    <body>

		
    </body>
</html>