<!DOCTYPE html>
<html lang="en">
    <head>
        <title>recycleCRM</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="author" content="Matt Connolly">
        <meta name="description" content="Brief description">

        <!-- css -->
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/bulma/bulma.min.css">
        <!-- font awesome -->
		<script src="https://kit.fontawesome.com/6394bc1834.js" crossorigin="anonymous"></script>
		<!-- google fonts -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap">
    </head>

    <body>
        <nav class="navbar is-light" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="/dashboard">
                <img src="images/logos/recycle-crm-logo.svg" width="112">
              </a>
          
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbarMenu" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item" href="/dashboard">
                  Home
                </a>
          
                <a class="navbar-item">
                  Features
                </a>
          
            </div>	
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <a class="button is-dark is-outlined" href="/signup">Sign up</a>
                    <a class="button is-dark is-hovered" href="/login">Log in</a>
                  </div>
                </div>
              </div>
            </div>
        </nav>
		
    </body>
</html>