<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Page Title</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="author" content="Matt Connolly">
        <meta name="description" content="Brief description">

        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <h1>Companies</h1>

        <p>Content goes here!</p>

        <script type="text/javascript" src="js/main.js"></script>
    </body>

</html>