<%- include('partials/dashboard') -%>

<div class="ml-0-touch" style="margin-left: 320px">
    <section class="main-content columns is-fullheight is-centered">
        <div class="container column is-12">
            <div class="section">
                <div class="">
                    <!-- header -->
                    <div class="container has-background-white mb-6">
                        <p class="card-header-title">Companies</p>
                    </div>

                    <!-- tiles -->
                    
                </div>
            </div>
        </div>
    </section>
</div>
<%- include('partials/footer') -%>