<%- include('partials/dashboard') -%>

<h1>Dashboard</h1>

<p>test</p>

<!-- <section class="main-content columns is-fullheight">
    <div class="container column is-9">
        <div class="section">

        <div class="card">
            <div class="card-header"><p class="card-header-title">Header</p></div>
        </div>
        
        <div class="card is-hidden1">
            <div class="card-content"><div class="content">Content</div></div>
        </div>
        <div class="card is-hidden1">
            <div class="card-content"><div class="content">Content</div></div>
            </div>     
        </div>
    </div>
</section> -->

<%- include('partials/footer') -%>