<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Dashboard</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="author" content="Matt Connolly">
        <meta name="description" content="Brief description">

        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <h1>Dashboard</h1>

        <ul>
            <li>Home</li>
            <li>Companies</li>
            <li>Collection</li>
            <li>Settings</li>
        </ul>

        

        <script type="text/javascript" src="js/main.js"></script>
    </body>

</html>