<%- include('partials/dashboard') -%>

<div class="ml-0-touch" style="margin-left: 320px">
    <section class="main-content columns is-fullheight is-centered">
        <div class="container column is-12">
            <div class="section">
                <div class="">
                    <!-- header -->
                    <div class="container has-background-white mb-6">
                        <p class="card-header-title">Dashboard</p>
                    </div>

                    <!-- tiles -->
                    <div class="tile is-ancestor">
                        <div class="tile is-vertical is-8">
                            <div class="tile">
                                <div class="tile is-parent is-vertical">
                                    <a href="/dashboard/companies" class="tile is-child box">
                                        <article>
                                            <p class="title">Companies</p>
                                            <p class="subtitle">Subtitle</p>
                                            <div class="content">
                                                <!-- Content -->
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque modi a dignissimos.</p>
                                            </div>
                                        </article>
                                    </a>
                                    <a href="/dashboard/pickups" class="tile is-child box">
                                        <article>
                                            <p class="title">Pickups</p>
                                            <p class="subtitle">Subtitle</p>
                                            <div class="content">
                                                <!-- Content -->
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque modi a dignissimos.</p>
                                            </div>
                                        </article>
                                    </a>
                                </div>
                                <div class="tile is-parent is-vertical">
                                    <a href="/dashboard/people" class="tile is-child box">
                                        <article>
                                            <p class="title">People</p>
                                            <p class="subtitle">Subtitle</p>
                                            <div class="content">
                                                <!-- Content -->
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque modi a dignissimos.</p>
                                            </div>
                                        </article>
                                    </a>
                                    <a href="/dashboard/collection" class="tile is-child box">
                                        <article>
                                            <p class="title">Collection</p>
                                            <p class="subtitle">Subtitle</p>
                                            <div class="content">
                                                <!-- Content -->
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque modi a dignissimos.</p>
                                            </div>
                                        </article>
                                    </a>
                                </div>
                            </div>
                          
                            <!-- wide tile -->
                            <div class="tile is-parent">
                                <a href="#" class="tile is-child box notification is-info is-light">
                                    <article>
                                        <p class="title">Settings</p>
                                        <p class="subtitle">Subtitle</p>
                                        <div class="content">
                                            <!-- Content -->
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque modi a dignissimos.</p>
                                        </div>
                                    </article>
                                </a>
                            </div>
                        </div>
                        
                        <!-- tall tile -->
                        <div class="tile is-parent">
                            <a href="#" class="tile is-child box notification is-success is-light">
                                <article>
                                    <div class="content">
                                        <p class="title">Reports</p>
                                        <p class="subtitle">Subtitle</p>
                                        <div class="content">
                                            <!-- Content -->
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque modi a dignissimos nobis ipsa vero blanditiis nesciunt ex nulla, cupiditate minima ratione pariatur fugiat explicabo nihil, doloribus aspernatur ut. Vero.</p>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>
</div>

<%- include('partials/footer') -%>