<%- include('partials/header') -%>

<div class="column is-three-fifths is-offset-one-fifth mt-6 pt-6 pb-6">
	<div class="notification is-primary">
		<h1 class="title is-1 has-text-centered">recycleCRM</h1>
		<h2 class="subtitle is-4 has-text-centered">The CRM for electronics recycling and waste management.</h2>

		<div class="buttons has-addons is-centered">
			<a href="/login" class="button"> Login</a>
			<a href="/signup" class="button"> Signup</a>
		</div>
	</div>
</div>

<%- include('partials/footer') -%>