<%- include('partials/header') -%>

<div class="column is-three-fifths is-offset-one-fifth mt-6 py-6">
	<div class="notification is-primary has-background-dark py-6">
		<h1>HOME</h1>
	</div>
</div>

<%- include('partials/footer') -%>