<%- include('partials/header') -%>



<div class="column is-three-fifths is-offset-one-fifth mt-6 py-6">
	<div class="notification is-primary has-background-dark py-3">
		<h1 class="subtitle is-2 has-text-centered has-text-light">Sign Up</h1>
	</div>

    <div class="notification is-light py-6">
        <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el => { %>
                <div class="alert alert-danger"><%= el.msg %></div>
            <% }) %>    
        <% } %>

        <form action="/signup" method="POST">
            <!-- username -->
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input class="input" type="text" name="userName" placeholder="Username">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
    
            <!-- email -->
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input class="input" type="email" name="email" placeholder="Email">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
    
            <!-- password -->
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input class="input" type="password" name="password" placeholder="Password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
    
            <!-- confirm password -->
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input class="input" type="password" name="confirmPassword" placeholder="Confirm password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
    
            <!-- submit -->
            <div class="field">
                <input class="input button is-success" type="submit" value="Sign Up">
            </div>
        </form>
	</div>
</div>

<%- include('partials/footer') -%>